In [2]:
lucro_1tri = {'janeiro': 100000, 'fevereiro': 120000, 'março': 90000}
lucro_2tri = {'abril': 88000, 'maio': 89000, 'junho': 120000}
#adicionando um item
lucro_1tri['abril'] = 10000
print(lucro_1tri)

{'janeiro': 100000, 'fevereiro': 120000, 'março': 90000, 'abril': 10000}

In [3]:
lucro_1tri = {'janeiro': 100000, 'fevereiro': 120000, 'março': 90000}
lucro_2tri = {'abril': 88000, 'maio': 89000, 'junho': 120000}
#adicionando multiplos items, ou outro dicionario
lucro_1tri.update(lucro_2tri)
print(lucro_1tri)

{'janeiro': 100000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000, 'maio': 89000, 'junho': 120000}

In [4]:
lucro_1tri = {'janeiro': 100000, 'fevereiro': 120000, 'março': 90000}
lucro_1tri['janeiro'] = 90000
print(lucro_1tri)

{'janeiro': 90000, 'fevereiro': 120000, 'março': 90000}

In [7]:
#removendo itens
lucro_1tri = {'janeiro': 100000, 'fevereiro': 120000, 'março': 90000}
lucro_2tri = {'abril': 88000, 'maio': 89000, 'junho': 120000}
del lucro_1tri['março']
print(lucro_1tri)

lucro_junho = lucro_2tri.pop('junho')
print(lucro_junho)
print(lucro_2tri)

{'janeiro': 100000, 'fevereiro': 120000}
120000
{'abril': 88000, 'maio': 89000}

[1]