In [ ]:
#range(tamano)
#range(inicio,fim)
#range(inicio,fim,passo)

In [2]:
produtos=['arroz','feijao','macarrao','atum','azeite']
estoque = [50,100,20,5,80]

for i in range(5):
    print(f'{produtos[i]}: {estoque[i]} unidades em estoque')

arroz: 50 unidades em estoque
feijao: 100 unidades em estoque
macarrao: 20 unidades em estoque
atum: 5 unidades em estoque
azeite: 80 unidades em estoque

In [4]:
print(range(1,10))

for i in range(1,10):
    print(i)

range(1, 10)
1
2
3
4
5
6
7
8
9

In [5]:
funcionarios = ['Maria', 'José', 'Antônio', 'João', 'Francisco', 'Ana', 'Luiz', 'Paulo', 'Carlos', 'Manoel', 'Pedro', 'Francisca', 'Marcos', 'Raimundo', 'Sebastião', 'Antônia', 'Marcelo', 'Jorge', 'Márcia', 'Geraldo']
vendas = [2750, 1900, 1500, 1200, 1111, 1100, 999, 900, 880, 870, 800, 800, 450, 400, 300, 300, 120, 90, 80, 70]

print('Funcionários Classe B')
for i in range(2, 18):
    print('{}: fez {} vendas'.format(funcionarios[i], vendas[i]))

Funcionários Classe B
Antônio: fez 1500 vendas
João: fez 1200 vendas
Francisco: fez 1111 vendas
Ana: fez 1100 vendas
Luiz: fez 999 vendas
Paulo: fez 900 vendas
Carlos: fez 880 vendas
Manoel: fez 870 vendas
Pedro: fez 800 vendas
Francisca: fez 800 vendas
Marcos: fez 450 vendas
Raimundo: fez 400 vendas
Sebastião: fez 300 vendas
Antônia: fez 300 vendas
Marcelo: fez 120 vendas
Jorge: fez 90 vendas

In [7]:
print(range(0,10,2))

for i in range(0,10,2):
    print(i)

range(0, 10, 2)
0
2
4
6
8